<!DOCTYPE html>
<html lang="en">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MyBlog - Home</title>
	<link href="{{ url_for('static', filename='../css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
	<script src="{{ url_for('static', filename='../scripts/create-post.js') }}" type="text/javascript" defer></script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">MyBlog</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="http://127.0.0.1:5000/home">Home</a></li>
			<li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
			<li><a href="http://127.0.0.1:5000/logout">Log Out</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
		<div id="sidebar">
			<ul>
				<li>
					<div id="search" >
					<form method="post" action="http://127.0.0.1:5000/search">
						<div>
							<h1>Search</h1>
							<input type="text" name="s" id="search-text" value="" />
							<input type="submit" id="search-submit" value="GO" />
						</div>
					</form>
					</div>
				</li>	
			</ul>
		</div>
		<!-- end #sidebar -->
	<div id="page-bgbtm">
		<div id="content">
        <div id="create-post">
            <label for = "create-post" id="create-a-post">Create A Post</label>
            <input type = "text" id = "create-title" placeholder="Create a title...">
            <textarea name = "creating-content" id = "create-content" rows="10" cols = "60"></textarea>
            <form>
                <label for = "tags">Pick a tag: </label>
                <select name = "tags" id="tag-picker">
                    {% for j in fetched_tags %}
                    <option id="tag">{{ j[1] }}</option>
                    {% endfor %}
                </select>
            </form>
			<button type="button" id="create-post-button" >Create Post!</button>
        </div>
			<div class="post">
				<h2 class="title"><a href="#">Welcome to MyBlog  </a></h2>
				<p class="meta"><span class="date">December 10, 2020</span><span class="posted">Posted by <a href="#">Developers</a></span></p>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
					<p>This is a blogging website where you can share your interests and hobbies with other people by creating blog posts. You can also comment on other users' posts so you can have a discussion about your common interests.</p>
					<p>Go ahead and make a post or search for posts with tags in the search bar on the right-hand side of the page.</p>
				</div>
			</div>
            {% for i in fetched_posts %}
			    <div class="post">
					<h2 class="title"><a href="http://127.0.0.1:5000/comments?id={{i[0]}}">{{ i[1] }}</a></h2>
				    <p class="meta"><span class="date">{{ i[2] }}</span><span class="posted">Posted by <a href="#">{{ i[4] }}</a></span></p>
				    <div style="clear: both;">&nbsp;</div>
				    <div class="entry">
					<p class="links">{{ i[5] }} <a href="http://127.0.0.1:5000/comments?id={{ i[0] }}">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:5000/comments?id={{ i[0] }}">Comments</a></p>
				    </div>
			    </div>
            {% endfor %}

		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>

	<!-- end #footer -->
</body>
</html>
