<!DOCTYPE html>

<html>
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>myBlog - Login</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script src="{{ url_for('static', filename='../scripts/render.js') }}" type="text/javascript" defer></script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">MyBlog</a></h1>
			
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#index">Home</a></li>
			<li><a href="#profile">Profile</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="content">
			<div class="container">
  <form>
    <div class="row">
      <h2 style="text-align:center">Register or Login</h2>

      <div class="col">
	  <!-- Register -->
        <form style="border:1px solid #ccc">
			<div class="container">
					<p>Please fill in this form to create an account.</p>
				<hr>

				<label for="registerUsername"><b>Username</b></label>
				<input type="text" id="registerUsername" placeholder="Enter Username" name="username">

				<label for="registerPassword"><b>Password</b></label>
				<input type="password" id="registerPassword" placeholder="Enter Password" name="psw">
				
				
				<label for="registerRepeat"><b>Repeat Password</b></label>
				<input type="password" id="registerRepeat" placeholder="Repeat Password" name="psw-repeat">

				<label>
				  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
				</label>

				<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

				<div class="clearfix">
				  <button type="button" class="cancelbtn">Cancel</button>
				  <button type="submit" class="signupbtn">Sign Up</button>
				</div>
			</div>
		</form>
		<hr id="vertLog>
<!-- Register ends -->
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
      </div>

    </div>
  </form>
</div>
<!-- Login ends -->

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>
		<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
	<!-- end #footer -->
</body>
</html>
