<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Indication  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090910

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Indication by TEMPLATED</title>
	<link href="{{ url_for('static', filename='../css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript">
		var jsonPostResults = {{ post_results|tojson }};
		var jsonCommentResults = {{ comment_results|tojson }};
	</script>
	<script src="{{ url_for('static', filename='../scripts/render-post.js') }}" type="text/javascript" defer></script>
	<script src="{{ url_for('static', filename='../scripts/post-comment.js') }}" type="text/javascript" defer></script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Indication</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="http://127.0.0.1:5000/home">Home</a></li>
			<li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
			<li><a href="http://127.0.0.1:5000/logout">Log Out</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
	    <div id="page-bgtop">
	        <div id="page-bgbtm">
		        <div id="content">
					<div>
						<div class="comment">
							<h3>Comment:</h3>
							<form  id="createComment">
								<div>
									<textarea name="message" id="comment-content" rows="3" cols="40" maxlength="150" style="max-width: 100%; min-width: 100%"></textarea>
									<br>
									<button type="button" id="comment-submit">Submit</button>
								</div>
							</form>
						</div>
						<div style="clear: both;">&nbsp;</div>
					</div
			    </div>
		    <div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		
		<div style="clear: both;">&nbsp;</div>
	        </div>
	    </div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
	</div>
	<!-- end #footer -->
</body>
</html>
